<template name="register_inventory">
    {{#if currentUser}}
        <div class="panel-heading">
            <span class="panel-title">Registrar Inventario</span>
        </div>
        <div class="panel form-horizontal">
            <div class="panel-body">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Categoria del Producto a Ingresar</label>
                    <div class="col-sm-10">
                        <select id="categorie" type="text" class="form-control" required >
                            <option>Selecciona una Categoria</option>
                            {{#each showCategories}}
                                <option value="{{_id}}" >{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <form id="register" class="panel form-horizontal" style="display:none;">
            <div class="panel-body">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Producto</label>
                    <div class="col-sm-10">
                        <select id="product" type="text" class="form-control" required >
                            <option>Selecciona el Producto</option>
                            {{#each showProducts}}
                                <option value="{{_id}}" >{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Proveedor</label>
                    <div class="col-sm-10">
                        <input id="provider" type="text" class="form-control" placeholder="Proveedor" required disabled>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Precio De Venta</label>
                    <div class="col-sm-10">
                        <input id="price" type="number" class="form-control" placeholder="Precio de Venta" required disabled>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Precio De Compra</label>
                    <div class="col-sm-10">
                        <input id="price-buy" type="number" class="form-control" placeholder="Precio de Compra" step="any" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Cantidad Disponible</label>
                    <div class="col-sm-10">
                        <input id="quantity" type="number" class="form-control" placeholder="Cantidad Dispobible del Producto" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Descripción</label>
                    <div class="col-sm-10">
                         <input id="description" type="text" class="form-control" placeholder="Descripcion" required>
                    </div>
                </div>


                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                        <a id="cancelar" href="#" class="btn btn-danger btn-flat">Cancelar</a>
                    </div>
                </div> <!-- / .form-group -->
            </div>
        </form>
                        
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>