<template name="registerClientSeller">
    {{#if currentUser}}
        <form id="reisterClient" class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">Registrar Cliente</span>
            </div>
            <div class="panel-body" style="padding: 10px !important;">
                <div class="form-group">
                    <label for="nit" class="col-sm-2 control-label">Nit</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="nit" placeholder="Nit Empresa" required>
                    </div>
                </div> <!-- / .form-group -->
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Nombre Completo" required>
                        
                    </div>
                </div> <!-- / .form-group -->
                <div class="form-group" >
                  <label class="col-sm-2 control-label" for="phone">Telefono</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="phone" placeholder="Número Telefónico" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">Direccion</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="address" placeholder="Dirección" required>
                    </div>
                </div> 
                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                        <a id="cancelar" href="#" class="btn btn-danger btn-flat">Cancelar</a>
                    </div>
                </div> <!-- / .form-group -->
                <h4 id="alert-add" style="display:none;color:green;" align="center">Agregado</h4>
                <h4 id="alert-error" style="display:none;color:red;" align="center">Error</h4>
            </div>
        </form>
                        
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>