<template name="sellerDashboard">
    {{#if currentUser}}
        <div class="row">
            <div class="page-header">
                <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Vendedor {{currentUser.profile.name}} </h1>
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <hr class="visible-xs no-grid-gutter-h">
                        <!-- "Create project" button, width=auto on desktops -->
                        <div class="pull-right col-xs-12 col-sm-auto"><a id="visit" href="#" class="btn btn-primary btn-labeled" data-toggle="modal" data-target="#" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Visita</a></div>
                        <br>
                        <br>
                        <div class="pull-right col-xs-12 col-sm-auto"><a id="consult" href="#" class="btn btn-primary btn-labeled" data-toggle="modal" data-target="#" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Consulta</a></div>

                        <!-- Margin -->
                        <div class="visible-xs clearfix form-group-margin"></div>
                    </div>
                </div>
            </div>
            <!-- / .page-header -->
        </div>
        <button class="btn btn-primary btn-lg pass-seller" data-toggle="modal" data-target="#newPassSeller" style="display:none;">pass</button>    
        <!-- Modal -->
        <div id="newPassSeller" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Nueva Contraseña</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="current-pass" placeholder="Contraseña Actual" required>
                            </div>
                        </div> <!-- / .form-group -->
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="pass" placeholder="Nueva Contraseña" required>
                            </div>
                        </div> <!-- / .form-group -->
                    </div> <!-- / .modal-body -->
                    <div class="modal-footer">
                        <button id="change-pass-seller" type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div> <!-- / .modal-content -->
            </div> <!-- / .modal-dialog -->
        </div> <!-- /.modal -->
        <!-- / Modal -->
    
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>

