<template name="edit_categorie">
    {{#if currentUser}}
        <form id="reisterCategorie" class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">Editar Categoria</span>
            </div>
            <input id="ic-ct" type="text" value="{{_id}}" hidden>
            <div class="panel-body">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10"> 
                        <input type="text" class="form-control" id="name" placeholder="Nombre Completo" value="{{name}}" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="switcher switcher-theme-square switcher-success">
                            
                            <input id="status-seller" type="checkbox" checked="checked" value="{{status}}" >
                            <div class="switcher-toggler"></div>
                            
                            <div class="switcher-inner">
                                <div class="status switcher-state-on">ON</div>
                                <div class="status switcher-state-off">OFF</div>
                            </div>
                        </div>
                    </div>   
                </div>

                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                        <a id="cancelar" href="#" class="btn btn-danger btn-flat">Cancelar</a>
                    </div>
                </div> <!-- / .form-group -->
            </div>
        </form>
                        
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>