<template name="updateSeller">
     {{#if currentUser}}
       
        {{#if Template.subscriptionsReady}}
            <input id="id_seller" value="{{_id}}" hidden>
            <form id="reisterSeller" class="panel form-horizontal">
                <div class="panel-heading">
                    <span class="panel-title">Crear Vendedor</span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Nombre Completo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" value="{{profile.name}}" required>
                        </div>
                    </div> <!-- / .form-group -->
                    <div class="form-group">
                        <label for="cc" class="col-sm-2 control-label">Cedula</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="cc"  value="{{profile.cc}}" required disabled="">
                            
                        </div>
                    </div> <!-- / .form-group -->
                    <div class="form-group" >
                      <label class="col-sm-2 control-label" for="phone">Telefono</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="phone" value="{{profile.phone}}"  required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="descripcion-gallo" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" value="{{profile.emailseller}}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Estado</label>
                        <div class="col-sm-10">

                            <div class="switcher switcher-theme-square switcher-success">
                                <input id="status-seller" type="checkbox" checked="checked" value="{{profile.status}}" >
                                <div class="switcher-toggler"></div>
                                <div class="switcher-inner">
                                    <div class="status switcher-state-on">ON</div>
                                    <div class="status switcher-state-off">OFF</div>
                                </div>
                            </div>
                        </div>   
                    </div> 
                    <div class="form-group" style="margin-bottom: 0;">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success btn-flat vs-save">Guardar</button>
                            <a id="cancelar" href="#" class="btn btn-danger btn-flat vs-cancel">Cancelar</a>
                            <a id="resend-password" href="#" class="btn btn-info btn-flat vs-resend" >Reenviar Contraseña</a>

                        </div>
                    </div> <!-- / .form-group -->
                  
                </div>
            </form>
            
        {{else}}
            Loading...
        {{/if}}
                      
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>