<template name="rutesValidate">
    {{#if currentUser}}
        
            {{> dashboard_menu}}
            <div id="main-wrapper" class="content-users">
                <div id="content-wrapper" class="dissaper_content">
                    <div class="row">
                        <div class="page-header">
                            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Rutas a realizar</h1>
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <hr class="visible-xs no-grid-gutter-h">
                                    <!-- Margin -->
                                    <div class="visible-xs clearfix form-group-margin"></div>
                                </div>
                            </div>
                        </div>
                        <!-- / .page-header -->
                    </div>
                    <div class="block-header">
                        <h4>Número de Rutas: {{rutesNumber}}</h4> 
                    </div>
                     {{#if Template.subscriptionsReady}}
                        <div class="table-responsive" data-spy="scroll">
                            {{> reactiveTable collection=showRutes settings=tableSettings}}
                        </div>
                    {{else}}
                        Loading...
                    {{/if}}    
            </div>
            
            </div> <!-- / #main-wrapper -->
            <div id="main-menu-bg"></div>
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>

