<template name="dashboard_visit_sellers">
    {{#if currentUser}}
        {{> dashboard_menu}}

        <div id="main-wrapper" class="content-videos">

            <div id="content-wrapper" class="dissaper_content">
                {{#if isInRole 'admin,enterprise'}}
                    <div class="row">
                        <div class="page-header">
                            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Visitas Clientes</h1>
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <hr class="visible-xs no-grid-gutter-h">
                                    <!-- "Create project" button, width=auto on desktops -->
                                    

                                    <!-- Margin -->
                                    <div class="visible-xs clearfix form-group-margin"></div>
                                </div>
                            </div>
                        </div>
                        <!-- / .page-header -->
                    </div>
                    {{#if Template.subscriptionsReady}}
                        <!-- This is displayed when all data is ready. -->
                        {{>TableVisits}}
                    {{else}}
                        Loading...
                    {{/if}}         
                {{/if}}
                       
            </div> <!-- / #content-wrapper -->
            

        </div>
        <div id="main-menu-bg"></div>
            
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>

