<template name="registerSeller">
    {{#if currentUser}}
    	
        <form id="reisterSeller" class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">Crear Vendedor</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Nombre Completo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Nombre Completo" required>
                    </div>
                </div> <!-- / .form-group -->
                <div class="form-group">
                    <label for="cc" class="col-sm-2 control-label">Cedula</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="cc" placeholder="1088..." required>
                        
                    </div>
                </div> <!-- / .form-group -->
                <div class="form-group" >
                  <label class="col-sm-2 control-label" for="phone">Telefono</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="phone" placeholder="Número Telefónico" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="descripcion-gallo" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="email@email.com" required>
                    </div>
                </div> 
                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                        <a id="cancelar" href="#" class="btn btn-danger btn-flat">Cancelar</a>
                    </div>
                </div> <!-- / .form-group -->
                <h4 id="alert-add" style="display:none;color:green;" align="center">Agregado</h4>
                <h4 id="alert-error" style="display:none;color:red;" align="center">Error</h4>
            </div>
        </form>
       
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>