<template name="viewPosition">
    {{#if currentUser}}
    	<input id="visit" value="{{_id}}" hidden>
    	<input id="lat" value="{{marker.lat}}" hidden>
    	<input id="lng" value="{{marker.lng}}" hidden>
    	<input id="infoContent" value="{{marker.infoWindowContent}}" hidden>
    	<input id="nameClient" value="{{nameClient idClient}}" hidden>
        <a herf="#" id="vs-reload" class="btn" style="background:white !important;">Recargar</a>
    	<div id="map">
    		
    	</div>
       	<!--<div class="map-container">
            {{> googleMap geolocate=true markers=markers selectedMarkerId=selectedMarkerId}}
        </div>-->
               
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>