<template name="detailVisitSellerAdmin">
    {{#if currentUser}}
    	<div class="theme-default main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg">
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="reisterVisit" class="panel form-horizontal">
                            <input id="id" value="{{_id}}" hidden>
                            <div class="panel-heading">
                                <span class="panel-title">Detalles de Visita</span>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="nit" class="col-sm-2 control-label">Cliente</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name-client" placeholder="" value="{{nameClient}}" name="{{idClient}}" required disabled>
                                        <input type="text" class="form-control" id="phone-client" placeholder="" value="" name="{{idClient}}" required disabled>
                                        <input type="text" class="form-control" id="address-client" placeholder="" value="" name="{{idClient}}" required disabled>

                                    </div>
                                </div> <!-- / .form-group -->

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Notas</label>
                                    <div class="col-sm-10">
                                        <textarea id="notas" name="notas-visit" class="form-control" rows="10" >
                                            {{notes}}
                                        </textarea> 
                                    </div>
                                </div> <!-- / .form-group -->
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Reclamos</label>
                                    <div class="col-sm-10">
                                        <textarea id="claims" name="claims" class="form-control" rows="10" >
                                            {{claims}}
                                        </textarea> 
                                    </div>
                                </div> <!-- / .form-group -->

                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Pedidos</label>
                                    <div class="col-sm-10">
                                        <textarea id="orders" name="orders" class="form-control" rows="10" >
                                            {{orders}}
                                        </textarea> 
                                    </div>
                                </div> <!-- / .form-group -->
                                
                                <div class="form-group" >
                                  <label class="col-sm-2 control-label" for="phone">Firma</label>
                                    <div class="col-sm-10">
                                        <img id="signature-img" src="{{firma}}" >
                                        
                                    </div>

                                    <div id="img-show" align="center">
                                        
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    
                                  <label for="fotoVisita" class="col-sm-2 control-label">Foto</label>
                                  <div class="col-sm-10">
                                    <br>
                                    
                                    <img id="preview-photo" src="{{photo}}" >
                                  </div>  
                                  <!--<input type="file" id="imgInputFileGallo">-->
                                                                      
                                </div> <!-- / .form-group -->
                                <br>
                                <div class="form-group" style="margin-bottom: 0;">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <a id="cancelar" href="#" class="btn btn-danger btn-flat">Cancelar</a>
                                        <a herf="#" id="viewPosition" class="btn btn-info btn-flat" data-action="clear">Ver Position</a> &nbsp;&nbsp;

                                    </div>
                                </div> <!-- / .form-group -->
                                
                            </div>
                        </form>
                        <!-- /10. $FORM_EXAMPLE -->
                    </div>

                </div>
            </div>
        </div>
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>