<template name="dashboard_sellers">
	{{#if currentUser}}
        {{> dashboard_menu}}
        {{#if isInRole 'admin'}}
            <div id="main-wrapper" class="content-users" style="display:none;">
                <div id="content-wrapper" class="dissaper_content">
                    <div class="row">
                        <div class="page-header">
                            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Users</h1>
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <hr class="visible-xs no-grid-gutter-h">
                                    <!-- "Create project" button, width=auto on desktops -->
                                    <div id="changes-users-role" class="pull-right col-xs-12 col-sm-auto"><a href="#" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Saved Changes</a></div>

                                    <!-- Margin -->
                                    <div class="visible-xs clearfix form-group-margin"></div>

                                    
                                </div>
                            </div>
                        </div>
                        <!-- / .page-header -->
                    </div>
                    {{> reactiveTable collection=showUsers settings=tableSettings}}

                </div>

                <!-- Success Edit Product-->
                <div id="edit-user-role" class="modal modal-alert modal-success fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fa fa-check-circle"></i>
                            </div>
                            <div class="modal-title">Edit User Role</div>
                            <div class="modal-body">Success to edit the User</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                            </div>
                        </div> <!-- / .modal-content -->
                    </div> <!-- / .modal-dialog -->
                </div> <!-- / .modal -->
                <!-- / Success -->
                <button class="btn btn-success success-edit" data-toggle="modal" data-target="#edit-user-role" style="display:none;">Success</button>&nbsp;&nbsp;&nbsp;
                
            </div> <!-- / #main-wrapper -->
            <div id="main-menu-bg"></div>
        {{/if}}
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>


<template name="containsTheDataTable" data-spy="scroll">
    {{> ReactiveDatatable tableData=reactiveDataFunction options=optionsObject }}
</template>