<template name="edit_inventory">
    {{#if currentUser}}
        <form id="reister" class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">Editar Inventario</span>
            </div>
            <input id="ic-ct" type="text" value="{{_id}}" hidden>
            <input id="id-pro" type="text" value="{{product}}" hidden>

            <div class="panel-body">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Producto</label>
                    <div class="col-sm-10">
                        <select id="product" type="text" class="form-control" required disabled>
                            <option>Selecciona el Producto</option>
                            {{#each showProducts}}
                                <option value="{{_id}}" >{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Proveedor</label>
                    <div class="col-sm-10">
                        <input id="provider" type="text" class="form-control" placeholder="Proveedor" required disabled>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Precio De Venta</label>
                    <div class="col-sm-10">
                        <input id="price" type="number" class="form-control" placeholder="Precio de Venta" required disabled>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Precio De Compra</label>
                    <div class="col-sm-10">
                        <input id="price-buy" type="number" class="form-control" placeholder="Precio de Compra" step="any" value="{{priceBuy}}" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Cantidad Disponible</label>
                    <div class="col-sm-10">
                        <input id="quantity" type="number" class="form-control" placeholder="Cantidad Dispobible del Producto" value="{{quantity}}" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Descripción</label>
                    <div class="col-sm-10">
                         <input id="description" type="text" class="form-control" placeholder="Descripcion" value="{{description}}" required>
                    </div>
                </div>

                <div class="form-group" style="display:none;">
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="switcher switcher-theme-square switcher-success">
                            
                            <input id="status-seller" type="checkbox" checked="checked" value="{{status}}" >
                            <div class="switcher-toggler"></div>
                            
                            <div class="switcher-inner">
                                <div class="status switcher-state-on">ON</div>
                                <div class="status switcher-state-off">OFF</div>
                            </div>
                        </div>
                    </div>   
                </div>

                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                        <a id="cancelar" href="#" class="btn btn-danger btn-flat">Cancelar</a>
                    </div>
                </div> <!-- / .form-group -->
            </div>
        </form>
                        
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>