<template name="detailVisitInventorySeller">
    {{#if currentUser}}
        <form id="reisterVisit" class="panel form-horizontal">
            <input id="id" value="{{_id}}" hidden>
            <input id="status" value="{{canceled}}" hidden>
            <div class="panel-heading">
                <span class="panel-title">Detalles Visita</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="nit" class="col-sm-2 control-label">Cliente</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name-client" placeholder="" value="{{client idClient}}" name="{{idClient}}" required disabled>
                    </div>
                </div> 

                <div class="form-group">
                    <label for="nit" class="col-sm-2 control-label">    </label>  
                    <div class="col-sm-10">
                        <div class="table-primary">
                            <div class="table-header">
                                <div class="table-caption">
                                    Productos
                                </div>
                            </div>
                            <table id="products-buy" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Registrar</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                        <tr>
                                            <td>{{productname product}}</td>
                                            <td>{{productPrice product}}</td>
                                            <td>{{productQuantity product}}</td>
                                            <td><input id="{{product}}" type="number" class="add-quantity vs-input-total" value="{{quantity}}" valueInventory="{{productQuantity product}}"></td>
                                            <td><p id="total-quan-{{product}}" class="total-price-prod">{{totalProduct product quantity}}</p></td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <div class="table-footer form-inline" align="right">
                                <div class="form-group">
                                    <button id="recalculate" data-namespace="light" class="btn btn-flat " disabled>Recalcular</button>
                                </div>
                                <div class="form-group">
                                    <h4 id="total">{{total}}</h4>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Notas</label>
                    <div class="col-sm-10">
                        <input  id="notas" class="form-control" value="{{notes}}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Reclamos</label>
                    <div class="col-sm-10">
                        <input  id="claims" class="form-control" value="{{claims}}">
                    </div>
                </div>
                <br>
                <div class="form-group">          
                  <label for="fotoVisita" class="col-sm-2 control-label">Foto</label>
                  <div class="col-sm-10">
                    <br>
                    <img id="preview-photo" src="{{photo}}">
                  </div>                                
                </div>
                <br>
                <div class="form-group" style="margin-bottom: 0;">

                    <div id="buttons-actions-form" class="col-sm-offset-2 col-sm-10">
                        {{#if canceled}}
                        {{else}}
                            <button type="submit" class="btn btn-warning btn-flat">Anular Compra</button>
                            <button id="cancelar" class="btn btn-danger btn-flat">Cancelar</button>
                        {{/if}}
                        
                    </div>
                </div>
            </div>
        </form>            
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>