<template name="detailVisitInventorySellerAdmin">
    {{#if currentUser}}
        <form id="reisterVisit" class="panel form-horizontal">
            <input id="id" value="{{_id}}" hidden>
            <div class="panel-heading">
                <span class="panel-title">Detalles Visita</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="nit" class="col-sm-2 control-label">Cliente</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name-client" placeholder="" value="{{client idClient}}" name="{{idClient}}" required disabled>
                        <input type="text" class="form-control" id="phone-client" placeholder="" value="" name="{{idClient}}" required disabled>
                        <input type="text" class="form-control" id="address-client" placeholder="" value="" name="{{idClient}}" required disabled>
                    </div>
                   
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="nit" class="col-sm-2 control-label">    </label>  
                    <div class="col-sm-10">
                        <div class="table-primary">
                            <div class="table-header">
                                <div class="table-caption">
                                    Productos
                                </div>
                            </div>
                            <table id="products-buy" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Registrar</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                        <tr>
                                            <td>{{productname product}}</td>
                                            <td>{{productPrice product}}</td>
                                            <td>{{quantity}}</td>
                                            <td><p id="total-quan-{{product}}" class="total-price-prod">{{totalProduct product quantity}}</p></td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <div class="table-footer form-inline" align="right">
                                <div class="form-group">
                                    
                                </div>
                                <div class="form-group">
                                    <h4 id="total">Total Compra {{total}}</h4>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Notas</label>
                    <div class="col-sm-10">
                        <textarea id="notas" name="notas-visit" class="form-control" rows="10" disabled>
                            {{notes}}
                        </textarea> 
                    </div>
                </div> <!-- / .form-group -->


                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Reclamos</label>
                    <div class="col-sm-10">
                        <textarea id="claims" name="claims" class="form-control" rows="10" disabled>
                            {{claims}}
                        </textarea> 
                    </div>
                </div> <!-- / .form-group -->

                <!--
                    <div class="form-group" >
                      <label class="col-sm-2 control-label" for="phone">Firma</label>
                        <div class="col-sm-10">
                            <img id="signature-img" src="{{firma}}" >
                        </div>
                        <div id="img-show" align="center">
                
                        </div>
                    </div>
                -->
                <br>
                <div class="form-group">          
                  <label for="fotoVisita" class="col-sm-2 control-label">Foto</label>
                  <div class="col-sm-10">
                    <br>
                    <img id="preview-photo" src="{{photo}}">
                  </div>  
                  <!--<input type="file" id="imgInputFileGallo">-->
                                                      
                </div> <!-- / .form-group -->
                <br>
                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <a id="cancelar" href="#" class="btn btn-danger btn-flat">Cancelar</a>
                        <a herf="#" id="viewPosition" class="btn btn-info btn-flat" data-action="clear">Ver Position</a> &nbsp;&nbsp;

                    </div>
                </div> <!-- / .form-group -->

            </div>
        </form>
                       
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>