<template name="TableVisits">
	<div class="block-header">
        

        <h4>Número de Visitas: {{visitsNumber}}</h4> 
       
        
    </div>
    <div class="table-responsive" data-spy="scroll">
        {{> reactiveTable collection=visits settings=tableSettings}}
    </div>
</template>
