<template name="registerVisitInventorySeller">
    {{#if currentUser}}
    	<div class="theme-default" >

            <input id="client-program" value="{{ client._id }}" name="{{client.address}}" hidden >
            <input id="client-program-name" value="{{ client.name }}" hidden > 
            <input id="route" value="{{rute}}" hidden>
             
            <div id="success-client-add" class="px-block-alerts-namespace--dark alert-clt" style="display:none;">
                <div class="alert alert-success alert-dark px-block-alerts-namespace--dark__alert" data-animate="true">
                    <button type="button" class="close">×</button>
                    <strong>Bien Hecho!</strong> Se ha añadido un cliente correctamente.
                </div>
            </div>

            <div id="danger-limit-inv" class="px-block-alerts-namespace--dark alert-clt " style="display:none;">
                <div class="alert alert-danger alert-dark px-block-alerts-namespace--dark__alert" data-animate="true">
                    <button type="button" class="close">×</button>
                    <strong>Error !</strong> Has superado la cantidad límite del producto.
                </div>
            </div>
            <form id="reisterVisit" class="form-horizontal">
                <input id="lat" type="text" value="{{loc.lat}}" hidden>
                <input id="lng" type="text" value="{{loc.lng}}" hidden>
                <div class="panel-heading">
                    <span class="panel-title">Registrar Visita</span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="nit" class="col-sm-2 control-label">Cliente</label>
                        <div class="col-sm-10">
                            <input id="name-client" type="text" class="form-control" placeholder="" required disabled>
                        </div>
                    </div> <!-- / .form-group -->
                    <div class="form-group">
                        <label for="nit" class="col-sm-2 control-label"> </label>
                        <div class="col-sm-10">
                            <button id="search-client" class="btn btn-flat ">Buscar Cliente</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nit" class="col-sm-2 control-label">    </label>
                        <div class="col-sm-10">
                            <div class="row search-client" style="display:none;">
                                {{> reactiveTable collection=showClients class="table table-bordered" settings=tableSettings}}
                                <button id="cancel-add-client" class="btn btn-danger btn-flat">Cancelar</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Categorias de Productos</label>
                        <div class="col-sm-10">
                            <select id="categorie" type="text" class="form-control" required >
                                <option>Selecciona una Categoria</option>
                                {{#each showCategories}}
                                    <option value="{{_id}}" >{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div id="add-products-table-inv" style="display:none;">
                        <div class="form-group">
                            <label for="nit" class="col-sm-2 control-label">    </label>  
                            <div class="col-sm-10">
                                {{> reactiveTable collection=showProducts class="table table-bordered" settings=tableSettingsProducts}}
                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="nit" class="col-sm-2 control-label">    </label>
                            <div class="col-sm-10">
                                <button id="confirm-products" data-namespace="light" class="btn btn-info">Confirmar Productos</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="nit" class="col-sm-2 control-label">    </label>  
                        <div class="col-sm-10">
                            <div class="table-primary">
                                <div class="table-header">
                                    <div class="table-caption">
                                        Productos
                                    </div>
                                </div>
                                <table id="products-buy" class="table table-bordered ">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Registrar</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                                <div class="table-footer form-inline" align="right">
                                    <div class="form-group">
                                        <button id="recalculate" data-namespace="light" class="btn btn-flat ">Recalcular</button>
                                    </div>
                                    <div class="form-group">
                                        <h4 id="total"></h4>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="form-group visit-cont">
                        <label for="nit" class="col-sm-2 control-label">    </label>
                        <div class="col-sm-10">
                            <button id="visit-cont" data-namespace="light" class="btn btn-primary btn-flat ">Continuar Visita</button>
                        </div>
                    </div>
                    <div id="continue-form" style="display:none;">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Notas</label>
                            <div class="col-sm-10">
                                <input  id="notas" class="form-control" >
                            </div>
                        </div> <!-- / .form-group -->

                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Reclamos</label>
                            <div class="col-sm-10">
                                <input id="claims" class="form-control">                            
                            </div>
                        </div> <!-- / .form-group -->

                        <!--<div class="form-group" style="display:none;">
                          <label class="col-sm-2 control-label" for="phone">Firma</label>
                            <div class="col-sm-10">
                                <div id="signature"></div>
                                <div class="panel-body buttons-with-margins">
                                    <a herf="#" id="clear-asignature" class="btn btn-info btn-flat" data-action="clear">Clear</a> &nbsp;&nbsp;
                                </div>
                            </div>

                            <div id="img-show" align="center">   
                            </div>
                        </div>-->

                        <div class="form-group">
                            
                          <label for="imgVisita" class="col-sm-2 control-label">Foto</label>
                          <div class="col-sm-10">
                            <button id="picture-visit">Foto</button>
                            <br>
                            <br>
                            <img id="preview-photo" src="{{picture}}">
                          </div>  
                          <!--<input type="file" id="imgInputFileGallo">-->
                                                              
                        </div> <!-- / .form-group -->
                        <br>
                        <div class="form-group" style="margin-bottom: 0;">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                                <a id="cancelar" href="#" class="btn btn-danger btn-flat">Cancelar</a>
                            </div>
                        </div> <!-- / .form-group -->
                    </div>
                </div>
            </form>
            </div>
       
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>