
@media only screen and (max-width : 1440px) {
	.page-signin .signin-container {
    	display: table;
    	/* margin: 240px auto; */
    	width: 45% !important;
    	table-layout: fixed;
	}

    .panel {
  
      border:none !important;
    }
    /*login init*/
    .page-signin .form-actions .signin-btn {
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
    }
    /*login end*/

    /*client init*/
    .panel-title {
        color: #555555;
        font-size: 24px;
        line-height: 20px;
    }

    .page-signup .form-group + .form-group {
        margin: 37px 0 0 0 !important;
    }

    .btn-success.btn-flat {
        background: #53b953;
        width: 40%;
        font-size: 14px;
    }


    .btn-danger.btn-flat {
        background: #e45847;
        width: 40%;
        font-size: 14px;
    }

    .panel-body {
        background: #fff;
        /*margin: 10px 0px 0px 0px;*/
        padding:0 !important;
    }

    .form-horizontal .control-label {
        margin-bottom: 0;
        padding-top: 7px;
        text-align: left;
        font-size: 15px;
    }

    /*clien end*/
    /*Visit init*/
    .animate-mm-lg #main-navbar .navbar-inner, .animate-mm-lg #main-menu-toggle, .animate-mm-lg #main-wrapper, .animate-mm-lg #main-menu, .animate-mm-lg #content-wrapper, .animate-mm-lg #main-menu-bg {
        padding: 0px;
    }
    /*visiti end*/

    .col-sm-auto {
        width: 100% !important;
    }

}

@media only screen and (max-width : 1200px) {
	/* Login init */

    .page-signin .signin-container {
        display: table;
        margin: 152px auto !important;
        width: 70% !important;
        table-layout: fixed;
    }

    .page-signin .signin-info {
        display: table-cell;
        padding: 30px;
        text-align: center;
        vertical-align: top;
        width: 34%;
    }

    .page-signin .signin-form {
        display: table-cell;
        vertical-align: top;
        width: 59%;
        list-style-type: none;
        padding: 49px;
    }
	/*login end*/
    .vs-input-total{
        width: 65px;
    }
}

@media only screen and (max-width : 992px) {
	/* Login init */
	.page-signin .signin-info {
    	display: table-cell;
    	padding: 30px;
    	text-align: center;
    	vertical-align: top;
    	width: 45%;
	}
    .vs-resend{
        margin-top:10px;
    }
	.page-signin .signin-container {
        display: table;
        margin: 165px auto !important;
        width: 64% !important;
        table-layout: fixed;
    }   
  	/*login end*/

  	/* client init */
  	.panel-body {
        background: #fff;
        padding:0 !important;
    }


	.form-horizontal .control-label {
        margin-bottom: 0;
        padding-top: 7px;
        text-align: left;
        font-size: 15px;
    }

	.panel, .panel-default {
    	border-color: none;
	}

    .page-signup .form-group + .form-group {
        margin: 43px 0 0 0;
    }
	/*client end*/
	/*form visit init*/
	#content-wrapper {
    	left: 0;
    	width: 100%;
    	position: relative;
	}
	/* form visit end*/
    .vs-input-total{
        width: 65px;
    }
}



@media only screen and (max-width : 768px) {
	/* Login init */
	.page-signin .signin-container {
    	margin: 0px !important;
    	width: 100% !important;
	}

	.page-signin .signin-info {
    	display: table-cell;
    	padding: 50px 0px 13px 0px !important;
   		text-align: center;
    	vertical-align: top;
    	width: 34%;
	}

	.page-signup .form-group {
    	margin: none;
	}

	.page-signin .signin-form {
        background: #fff;
        display: block;
        padding: 32px;
        position: relative;
        height: 700px;
        width: 100%;
        padding: 48px;
    }

	/*login end*/
    .vs-input-total{
        width: 65px;
    }
}

@media only screen and (max-width : 480px) {
	/* Login init */
	.page-signin .signin-container {
    	margin: 0px !important;
    }

    .page-signin .signin-form {
    	height: 515px;
        padding: 38px;
	}

	.page-signup .form-actions {
    	margin-top: 58px;
	}

    .page-signin .signup-form {
        height: 538px;
        padding: 38px;
    }

	.page-signin .signin-info {
    	display: table !important;
    	/* padding: 50px 0px 13px 0px !important; */
    	/* text-align: center; */
    	vertical-align: top;
    	width: 100% !important;
	}

	/*login end*/
	/*visit init*/

	.page-signup .form-group + .form-group {
    	margin: 24px 0px 24px -1px !important;
	}
	/*visit end*/
    .vs-input-total{
        width: 65px;
    }
}

#vs-reload{
    background-color: white;
    color:black;
    position:fixed;
    z-index:9999;
    height:28.2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; 
    position: absolute; 
    left: 103px; 
    top: 10px; 
    border:none; 
}




