<template name="dashboard_menu">
  	<div id="main-wrapper">
	    <!-- 2. $MAIN_NAVIGATION =====Main navigation-->
	    <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
	        <!-- Main menu toggle -->
	        <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span>
	        </button>
	        <div class="navbar-inner">
	            <!-- Main navbar header -->
	            <div class="navbar-header">
	                <!-- Logo -->
	                <a href="index.html" class="navbar-brand">
	                    <div>
	                        <img alt="Pixel Admin" src="/img/logo.png">
	                    </div>
	                    Visitapp Admin
	                </a>
	                <!-- Main navbar toggle -->
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i>
	                </button>
	            </div>
	            <!-- navbar-header -->
	            <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
	                <div>
	                    <ul class="nav navbar-nav">
	                        <li>
	                            <a id="index" href="#">Home</a>
	                        </li>
	                    </ul>
	                    <!-- / .navbar-nav -->
	                    <div class="right clearfix">
	                        <ul class="nav navbar-nav pull-right right-navbar-nav">
	                           
	                           
	             
	                            <li class="dropdown">
	                                <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
	                                	{{#if currentUser.services.twitter.profile_image_url}}
				                            <img src="{{currentUser.services.twitter.profile_image_url}}" alt="" class="widget-profile-avatar">
				                        {{else}}
				                            {{#if currentUser.services.facebook}}
				                                <img src="http://graph.facebook.com/{{currentUser.services.facebook.id}}/picture/?type=square" alt="" class="widget-profile-avatar">
				                            {{else}}
				                                {{#if currentUser.ImgUser}}
				                                    <img id="imgUser" src="/cfs/files/imageuser/{{currentUser.ImgUser._id}}/{{currentUser.ImgUser.original.name}}" alt="" >
				                                {{else}}
				                                    <img src="/avatar.png" alt="">
				                                {{/if}}
				                            {{/if}}
				                        {{/if}}

								        {{#if currentUser.profile.name}}
								         	<span>{{currentUser.profile.name}}</span>
								        {{else}}

								        	{{#if currentUser.profile.fullname}}
								         		<span>{{currentUser.profile.fullname}}</span>
								        	{{else}}
									        	<span>{{currentUser.emails.address}}</span>
									        	{{#each currentUser.emails }}
									        	   <span>{{address}}</span>
					                        	{{/each}}
					                        {{/if}}
								        {{/if}}
	                                </a>
	                                <ul class="dropdown-menu">
	                                    
	                                    <li class="divider"></li>
	                                    <li><a id="logout" href="#"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a>
	                                    </li>
	                                </ul>
	                            </li>
	                        </ul>
	                        <!-- navbar-nav -->
	                    </div>
	                    <!-- right -->
	                </div>
	            </div>
	            <!--#main-navbar-collapse -->
	        </div>
	        <!-- navbar-inner -->
	    </div>
	    <!-- main-navbar -->
	</div>

	<div id="main-menu" role="navigation">
		<div id="main-menu-inner">
			<div class="menu-content top" id="menu-content-demo">
				<!-- Menu custom content demo
					 CSS:        styles/pixel-admin-less/demo.less or styles/pixel-admin-scss/_demo.scss
					 Javascript: html/assets/demo/demo.js
				 -->
				<div>
					<div class="text-bg">
						{{#if currentUser.profile.name}}
							<span class="text-semibold">
								{{currentUser.profile.name}}
							</span>
				        {{else}}
				        	{{#if currentUser.profile.fullname}}
								<span class="text-semibold">
									{{currentUser.profile.fullname}}
								</span>
					        {{else}}
					        	{{#each currentUser.emails }}
		                           <span class="text-semibold">
		                           		{{address}}
		                           </span>
	                        	{{/each}}
	                        {{/if}}
				        {{/if}}

					</div>
					{{#if currentUser.services.twitter.profile_image_url}}
                        <img src="{{currentUser.services.twitter.profile_image_url}}" alt="" class="widget-profile-avatar">
                    {{else}}
                        {{#if currentUser.services.facebook}}
                            <img src="http://graph.facebook.com/{{currentUser.services.facebook.id}}/picture/?type=square" alt="" class="widget-profile-avatar">
                        {{else}}
                            {{#if currentUser.ImgUser}}
                                <img id="imgUser" src="/cfs/files/imageuser/{{currentUser.ImgUser._id}}/{{currentUser.ImgUser.original.name}}" alt="" >
                            {{else}}
                                <img src="/avatar.png" alt="">
                            {{/if}}
                        {{/if}}
                    {{/if}}

					
					<div class="btn-group">
						<a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-envelope"></i></a>
						<a id="userAccount" href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-user"></i></a>
						<a id="userSettings" href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-cog"></i></a>
						<a id="logout" href="#" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off"></i></a>
					</div>
					<a href="#" class="close">&times;</a>
				</div>
			</div>
			<ul id="main-options" class="navigation">
				{{#if isInRole 'admin,enterprise'}}
					<li>
						<a id="clients" href="#"><i class="menu-icon fa fa-group"></i><span class="mm-text">Clientes</span></a>
					</li>
					<li>
						<a id="visits-seller-show-admin" href="#"><i class="menu-icon fa fa-calendar"></i><span class="mm-text">Visitas</span></a>
					</li>
					<li>
						<a id="sellers" href="#"><i class="menu-icon fa fa-user"></i><span class="mm-text">Vendedores</span></a>
					</li>
					<li>
						<a id="rutes" href="#"><i class="menu-icon fa fa-map-marker"></i><span class="mm-text">Rutas</span></a>
					</li>

					<li>
						<a id="categories" href="#"><i class="menu-icon fa fa-bars"></i><span class="mm-text">Categorias</span></a>
					</li>

					<li>
						<a id="provider" href="#"><i class="menu-icon fa fa-comments"></i><span class="mm-text">Proveedores</span></a>
					</li>

					<li>
						<a id="products" href="#"><i class="menu-icon fa fa-tags"></i><span class="mm-text">Productos</span></a>
					</li>

					<li>
						<a id="inventory" href="#"><i class="menu-icon fa fa-shopping-cart"></i><span class="mm-text">Inventario</span></a>
					</li>

				{{/if}}

				{{#if isInRole 'seller'}}
					<!--<li>
						<a href="#" id="clients"><i class="menu-icon fa fa-table"></i><span class="mm-text">Clientes</span></a>
					</li>-->

					<li>
						<a href="#" id="visits"><i class="menu-icon fa fa-table"></i><span class="mm-text">Visitas</span></a>
					</li>

					<li>
						<a href="#" id="rutesValidate"><i class="menu-icon fa fa-table"></i><span class="mm-text">Rutas</span></a>
					</li>
				{{/if}}

			</ul> <!-- / .navigation -->
			
			<div id="menu-invoice" class="menu-content">
				<a id="index-player" href="#" class="btn btn-primary btn-block btn-outline dark">Index</a>
			</div>
		</div> <!-- / #main-menu-inner -->
	</div> <!-- / #main-menu -->
	<!-- /4. $MAIN_MENU -->
	
</template>
