<template name="register_provider">
    {{#if currentUser}}
        <form id="reister" class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">Registrar Proveedor</span>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input id="name" type="text" class="form-control" placeholder="Nombre Completo" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Teléfono</label>
                    <div class="col-sm-10">
                         <input id="phone" type="text" class="form-control" placeholder="Número Teléfonico" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Descripción</label>
                    <div class="col-sm-10">
                         <input id="description" type="text" class="form-control" placeholder="Descripcion Simple del Proveedor" required>
                    </div>
                </div>


                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                        <a id="cancelar" href="#" class="btn btn-danger btn-flat">Cancelar</a>
                    </div>
                </div> <!-- / .form-group -->
            </div>
        </form>
                        
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>