<template name="detailRute">
    {{#if currentUser}}
    	<input id="ruteId" value="{{_id}}" hidden> 
        <form id="ruteForm" class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">Ruta {{rute}}   <strong>{{createdAt}} </strong></span>
            </div>
            <div class="panel-body">
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cliente</th>
                            <th>Dirección</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each clients}}
                            <tr>
                                <th scope="row">*</th>
                                <td>{{name}}</td>
                                <td>{{addressClient idClient}}</td>
                                <td> 
                                    {{statusButton status}}
                                    <!--<button id="{{_id}}" type="button" class="btn btn-success btn-3d"></button>--> 
                                </td>
                                <td> 
                                    <button id="{{validateVisit status idClient}}" type="button" class="btn btn-primary btn-3d register-visit" {{disable status}}>Registrar Visita</button> 
                                </td>
                                
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
  
            </div>
        </form>
       
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>