<template name="register_categorie">
    {{#if currentUser}}
        <form id="reisterCategorie" class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">Agregar Categoria</span>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Alimentos,Insumos,medicina.." required>
                        
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                        <a id="cancelar" href="#" class="btn btn-danger btn-flat">Cancelar</a>
                    </div>
                </div> <!-- / .form-group -->
            </div>
        </form>
                        
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>