<template name="editRute">
    {{#if currentUser}}
    	<input id="ruteId" value="{{_id}}" hidden> 
        <form id="ruteForm" class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">Editar Ruta</span>
            </div>
            <div class="panel-body">
                <table class="table table-striped" id="inputs-table">
                    
                    <tbody>
                        <tr>
                            <td>
                                Nombre de Ruta
                            </td>
                            <td>
                                <input id="rute" type="text" class="form-control" value="{{rute}}" placeholder="Nombre de Ruta Ejemplo: Zona Centro" required>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                Asignar Vendedor
                            </td>
                            <td>
                                <select id="seller" class="custom-select form-control" required>
                                    <option value="{{seller}}" selected="">{{selectSeller seller }}</option>
                                    {{#each showSellers}}
                                        <option value="{{_id}}">{{profile.name}}</option>
                                  
                                    {{/each}}
                                </select>
                            </td>
                            
                        </tr>

                        <tr>
                            <td>
                                Clientes a Visitar
                            </td>

                            <td id="checkClients">

                                {{#each showClients}}
                                    <div class="checkbox m-t-0">
                                        <label>
                                            <input id="{{_id}}" type="checkbox" value="{{_id}}" name="{{name}}"> {{name}} <!--Dirección : {{address}}-->
                                        </label>
                                    </div>
                              
                                {{/each}}
                            </td>
                            
                        </tr>

                    </tbody>
                </table>
                <div class="col-sm-offset-2 col-sm-10">
                    <button id="saved-rute" type="submit" class="btn btn-success btn-flat">Guardar</button>
                    <a id="cancelar" href="#" class="btn btn-danger btn-flat">Cancelar</a>
                </div>    
            </div>
        </form>
       
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>