<template name="TableSellers">
	<div class="block-header">
        

        <h4>Número de Vendedores: {{sellersNumber}}</h4> 
       
        
    </div>
    <div class="table-responsive">
        {{> reactiveTable collection=sellers settings=tableSettings}}
    </div>
</template>
