
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>VisitApp</title>
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjaCpysuT-IYBkgwtk2cqykAOKfi5ba9I">
    </script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<link rel="stylesheet" type="text/css" href="/css/dashboard/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/pixel-admin.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/pages.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/themes.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/widgets.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/rtl.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/user.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/responsive.css">

	<link rel="shortcut icon" href="/img/marker.png" />

</head>

<body>

	{{>status_conection}}
	

</body>



