<template name="viewPositionRealTime">
    {{#if currentUser}}

    	<h1 id="seller-data-detail" itemprop="name" class="devsite-page-title">
		    Vendedor {{profile.name}} - Cédula : {{profile.cc}}
		</h1>
    	<input id="seller" value="{{_id}}" hidden>
        <a herf="#" id="vs-reload" class="btn" style="top: 74px !important; background:white !important;height:27px;" >Recargar</a>
        <div id="map"></div>
        <!--<div class="map-container">

            {{> googleMap geolocate=true markers=markers selectedMarkerId=selectedMarkerId}}
        </div>-->
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>