<template name="edit_product">
    {{#if currentUser}}
        <form id="reister" class="panel form-horizontal">
            <div class="panel-heading">
                <span class="panel-title">Editar Producto</span>
            </div>
            <input id="ic-ct" type="text" value="{{_id}}" hidden>
            <input id="id-cate" type="text" value="{{categorie}}" hidden>
            <input id="id-pro" type="text" value="{{provider}}" hidden>
            <div class="panel-body">
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10"> 
                        <input type="text" class="form-control" id="name" placeholder="Nombre Completo" value="{{name}}" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Categoria</label>
                    <div class="col-sm-10">
                        <select id="categorie" type="text" class="form-control" required >
                            <option>Selecciona una Categoria</option>
                            {{#each showCategories}}
                                <option value="{{_id}}" >{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Proveedor</label>
                    <div class="col-sm-10">
                        <select id="provider" type="text" class="form-control" required >
                            <option>Selecciona una Proveedor</option>
                            {{#each showProviders}}
                                <option value="{{_id}}" >{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Precio de Venta</label>
                    <div class="col-sm-10">
                        <input id="price" type="number" class="form-control" placeholder="Precio por Unidad" value="{{price}}" step="any" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Descripción</label>
                    <div class="col-sm-10">
                         <input id="description" type="text" class="form-control" placeholder="Descripcion Simple del Producto" value="{{description}}" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Estado</label>
                    <div class="col-sm-10">
                        <div class="switcher switcher-theme-square switcher-success">
                            
                            <input id="status-seller" type="checkbox" checked="checked" value="{{status}}" >
                            <div class="switcher-toggler"></div>
                            
                            <div class="switcher-inner">
                                <div class="status switcher-state-on">ON</div>
                                <div class="status switcher-state-off">OFF</div>
                            </div>
                        </div>
                    </div>   
                </div>

                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                        <a id="cancelar" href="#" class="btn btn-danger btn-flat">Cancelar</a>
                    </div>
                </div> <!-- / .form-group -->
            </div>
        </form>
                        
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>