<template name="dashboardMap">
    {{#if currentUser}}
        {{> dashboard_menu}}

        <div id="main-wrapper" class="content-videos" >

            <div id="content-wrapper" class="dissaper_content">
                <div class="row">
                    <ul class="breadcrumb breadcrumb-page">
                        <div class="breadcrumb-label text-light-gray">You are here: </div>
                        <li><a href="#">Home</a></li>
                        {{# if isInRole 'admin'}}
                        <li class="active"><a href="#">Map Sellers</a></li>
                        {{else}}
                        <li class="active"><a href="#">Seller {{currentUser.profile.fullname}}</a></li>
                        {{/if}}
                    </ul>
                    <div class="page-header">
                        {{# if isInRole 'admin'}}
                        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Map Sellers</h1>
                        {{else}}
                             <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Seller  {{currentUser.profile.fullname}}</h1>
                            
                        {{/if}}
                        <div class="col-xs-12 col-sm-8">
                            <div class="row">
                                <hr class="visible-xs no-grid-gutter-h">
                                <!-- "Create project" button, width=auto on desktops -->
                                {{# if isInRole 'admin'}}
                                    <div class="pull-right col-xs-12 col-sm-auto"><a id="select-seller" href="#" class="btn btn-primary btn-labeled" data-toggle="modal" data-target="#" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Select Seller</a></div>
                                    <div class="pull-right col-xs-12 col-sm-auto"><a id="refresh-map" href="#" class="btn btn-primary btn-labeled" data-toggle="modal" data-target="#" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Refresh Map</a></div>
                                {{else}}
                                    <div class="pull-right col-xs-12 col-sm-auto"><a id="add-asignature" href="#" class="btn btn-primary btn-labeled" data-toggle="modal" data-target="#" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Signature Save</a></div>
                                {{/if}}

                                <!-- Margin -->
                                <div class="visible-xs clearfix form-group-margin"></div>

                                <!-- Search field -->
                                <form action="" class="pull-right col-xs-12 col-sm-6">
                                    <div class="input-group no-margin">
                                        <span class="input-group-addon" style="border:none;background: #fff;background: rgba(0,0,0,.05);"><i class="fa fa-search"></i></span>
                                        <input id="search-box" type="text" placeholder="Search..." class="form-control no-padding-hr" style="border:none;background: #fff;background: rgba(0,0,0,.05);">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- / .page-header -->
                </div>
                {{# if isInRole 'admin'}}
                <div id="sellers-map" class="row" style="display:none;">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Sellers</span>
                        </div>
                        <div class="panel-body">
                            <label>Sellers Route</label>
                            <select id="sellers-route" class="form-control form-group-margin">
                                <option value="*">All</option>
                                {{#each sellers}}
                                    <option id="{{_id}}" value="{{_id}}">{{profile.fullname}}</option>
                                {{/each}}

                            </select>
                        </div>
                        
                    </div>
                </div>
                {{/if}}
                <div class="row">
                    <input id="lat" type="text" value="{{loc.lat}}">
                    <input id="lng" type="text" value="{{loc.lng}}">
                    {{# if isInRole 'admin'}}
                       <!--<img src="http://maps.googleapis.com/maps/api/staticmap?center={{loc.lat}},{{loc.lng}}&zoom=15&size=600x300&maptype=roadmap&markers=color:blue%7C{{loc.lat}},{{loc.lng}}" />-->
                        <div class="map-container">
                            {{> googleMap geolocate=true markers=markers
                            selectedMarkerId=selectedMarkerId}}
                        </div>
                       
                    {{else}}
                        {{>seller}}
                    {{/if}}
                </div>

            </div> <!-- / #content-wrapper -->
            

        </div>
        <div id="main-menu-bg"></div>
            
    
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>
